.blog_detail_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  .blog_detail_banner {
    position: relative;
    block-size: 30vh;
    inline-size: 100%;
    color: rgb(var(--foreground-rgb));
    background-color: var(--color-body);
    background-image: url('https://cdn.pixabay.com/photo/2016/02/27/18/07/clover-1225988_1280.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
  }
  .blog_detail_content {
    position: relative;
    text-align: center;
    display: flex;
    gap: 120px;
    min-block-size: 50vh;
    h1 {
      border: 1px solid var(--color-secondary);
      box-shadow: inset 0px 0px 12px var(--color-primary);
      border-radius: 4px;
      padding: 8px;
      position: absolute;
      text-transform: uppercase;
      inline-size: 500px;
      text-align: center;
      z-index: 12;
      font-size: 52px;
      left: 70%;
      transform: translateX(-50%);
      color: var(--color-primary);
    }
    .blog_image {
      position: absolute;
      border: 4px solid var(--color-body);
      border-radius: 4px;
      left: 25%;
      top: -100px;
      transform: translateX(-50%);
      inline-size: 442px;
      block-size: 300px;
      overflow: hidden;
      &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #000;
        opacity: 0.3;
      }
      img {
        object-fit: cover;
      }
    }
    .content {
      margin-top: 280px;
      inline-size: 100%;
      padding-inline: 140px;
      min-inline-size: 340px;
      font-size: 20px;
      text-align: start;
    }
  }
}
