.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 19;
  transition: 0.5s ease all;
  background-color: transparent;
  &.header_page {
    background-color: var(--color-primary);
    position: relative;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right_buttons {
      display: flex;
      justify-content: flex-end;
      inline-size: 232px;
    }
    .logo{
      inline-size: 232px;
    }
  }

  &.active {
    opacity: 0;
  }

  &.bgColor {
    background-color: var(--color-secondary);
  }
  .hamburger_menu {
    display: none;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 5px 0px;
    .inner {
      .right_buttons {
        display: none;
      }
    }
    .hamburger_menu {
      display: block;
    }
  }
}
