.hero {
  position: relative;
  background-color: var(--color-body);
  background-image: url('https://cdn.pixabay.com/photo/2016/02/27/18/07/clover-1225988_1280.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  display: flex;
  block-size: 100vh;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
  }
  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -24px;
    z-index: 1;
    background-image: url(../../assets/files/images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    inline-size: 110%;
    block-size: 500px;
  }
  .text_area {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;

    h1 {
      text-align: center;
      color: #fff;
      font-size: 100px;
      text-transform: uppercase;
      span {
        color: var(--color-secondary-hover);
      }
    }
    .desc {
      font-size: 28px;
      opacity: 0.7;
      color: #fff;
    }
    .empty {
      height: 80px;
    }
  }
}

// @media (max-width: 992px) {
//   .hero {
//     height: auto;
//     .inner {
//       display: block;
//       .text_area {
//         h1 {
//           font-size: 36px;
//         }
//         p {
//           font-size: 15px;
//         }
//       }
//     }
//   }
// }
